<!DOCTYPE>
<html>
<head>

    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/libs/jquery/dist/jquery.min.js"></script>

</head>
<body>

    <h1>Posts</h1>
    <p>Page: <%- pageNum+1 %></p>


    <% for(var i=0; i<posts.length; i++){ %>

    <div class="post-container">
        <div class="post-title"> <%- posts[i].title %> </div>
        <br/>
        <div class="post-content"> <%- posts[i].body %> </div>
        <br/>
        <a href="/article/<%- posts[i].id %>">Read more ...</a>
        <hr/>
    </div>

    <% } %>

    <ul class="page-list">

        <!-- Previous page-->
        <a href="?page=<%- pageNum %>&postCount=<%- postCount %>">Previous</a>

        <% for(var i=0; i<numPages; i++ ){ %>
        <li>
            <% if(pageNum !== i-1){ %>

            <!-- Page link-->
            <a href="?page=<%- i %>&postCount=<%- postCount %>"><%- i %></a>

            <% }else{ %>

            <!-- Current page -->
            <p><%- i %></p>
            <%}%>
        </li>
        <% } %>
        <!-- Next page -->
        <a href="?page=<%- pageNum+2 %>&postCount=<%- postCount %>">Next</a>
    </ul>


    <script src="/static/js/main.js"></script>
</body>
</html>